body {
    background-image: url("../images/g.jpg");
    background-repeat: no-repeat;
    text-align: center;
    font-family: Poppins
}

#section {
    margin-top: 4em;
}
img{
    border: 1px solid white;
    border-radius: 50%;
}

#section2{
    margin-top: 2em;
}
button{
    width: 250px;
    height: 40px;
    border: 1px solid white;
    background: transparent;
    curosr: pointer;
    border-radius: 35px;
}
a{
    text-decoration: none;
    color: white;
}
button:hover{
    background: black;
    font-weight: bold;
}
#section3{
    margin-top: 3em;
}